.grid-container{
    display: grid;
    padding: 10px;
    margin: 20px;
    position: relative;
    grid-template-areas: 'first second';

}
.item1{
    grid-area: first;
    position: absolute;
    padding-top: 70px;
    justify-content: center;
    
}

.item2{
    grid-area: third;
    align-items: center;
}
.connect > a{
  text-align: center;
}
.connect{
    display: flex;
    border: 1px solid aqua;
}
.article{
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    margin: 8px;
    grid-template-areas: 'left right';
}
.article1{
    grid-area: left;
}
.article2{
    grid-area: right;
}
.content{

    display: flex;
    flex-wrap: wrap;    
    background-color: #A29FE1;
}
.pic{
    width: 319px;
    height: 267px;
}
