
 .hide {
    display: none;
}

@media only screen and (max-width:769px){
    article,h2 {
        padding-left: 20px;
    }
   
  }
  
  @media only screen and (min-width:769px){
    .pic {
        max-width: 100%;
        height: auto;
    }
    article {
        display: flex;
        gap: 5%;
    }
    article > div {
        width: 50%;
    }
   
    
  
  }